@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../images/house.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Montserrat', 'sans-serif';
}

.container{
	width: 500px;
	background: rgba(0,0,0,0.8);
	margin: 12% auto;
	padding: 50px 0;
	color: #fff;
	box-shadow: 0 0 50px 2px rgba(0,0,0,0.5);
}

h1{
	text-align: center;
}

.form-box{
	margin: 10px auto;
	width: 80%;
	border-bottom: 0.8px solid #fff;
	padding-top: 10px;
	padding-bottom: 1px;
}

.form-box input{
	width: 80%;
	border-color: #fff;
	outline: none;
	background: transparent;
	color: #fff;
}
.submit-box input{
	margin: 10px;
	width: 75px;

}
